<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{index . "forum"}} Forum</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body >
    <header class="mb-auto">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Avenger Chat</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/inventory">Inventory</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/crime">Crimes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/random">Random</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div class="container d-flex h-100 p-3 mx-auto flex-column" >
        <div class="col-md-5 col-lg-4 mx-auto">
            <h1>{{index . "forum"}} Room Chat</h1>
            
            <div class="p-4 border rounded-3 bg-body-tertiary">
                <div id="notifications" style="overflow-y:scroll; overflow-x:hidden; height:400px;"></div>
            </div>

            <div hx-ext="ws" ws-connect="wss:localhost:1323/ws/{{index . `path`}}">
            <form id="form" 
                hx-on::ws-after-send="this.reset(); scrollDiv();"
                ws-send>
                <div class="row py-3">
                    <input type="hidden" name="name" id="name" value="">
                    <div class="col-8">
                        <input required autofocus type="text" class="form-control col-8" name="chat_message" id="chat_message" placeholder="Message">
                    </div>
                    <div class="d-grid col-4">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <footer class="mt-auto"></footer>
    </div>

    <script>
        let name = ""
        while (!name) {
            name = prompt("Enter your name:")
        }
        document.getElementById("name").value = name
        
        scrollDiv = () => {
          setTimeout(()=>{}, 1000)
          var objDiv = document.getElementById('notifications')
          objDiv.scrollTop = objDiv.scrollHeight
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>